body #container {
    max-width: 375px;
    max-height: 667px;
    margin: 0 auto;
    background-color:#FFF8DC;	
    /*overflow: hidden; Figure this out later*/
  }

#content-container {
    max-width: 375px;
    max-height: 667px;
    margin: 0 auto;
}

.content-scrollable {
  background: @color-empty;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}