body #container {
    max-width: 375px;
    max-height: 667px;
    margin: 0 auto;
    background-color:#FFFFFF;
    color:#000000;	
    border-style: solid;
    /*overflow: hidden; Figure this out later*/
  }

#content-container {
    color:#000000;
    background-color: #FFFFF0;
    max-width: 375px;
    max-height: 667px;
    margin: 0 auto;
  
}

.content-scrollable {
  background: @color-empty;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}