.numberbox{
	vertical-align: center;
	width: 200px;
	height:75px;
	margin-right:25px;
	margin-top:-350px;
	text-align:center;

}

.roomNumber{
	margin-top:175px;
	margin-left:30px;

}


.title{
	margin-left:150px;
	color: #47496C;
	text-align: center;
	font-weight:normal;
	margin-top: 115px;
	z-index: 999;
}


.back{
	background: url(img/app/grey.gif);
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 100% 100%;
	
}


.topbox{
	position:inherit;
	margin-left:20px;
	margin-right: 20px;
	z-index:8;
}

img.bottombox{
	width:325px;
	margin-top:-90px;
	margin-bottom:-95.5px;
}
