.roomNumbertop{
	background-color:#24272C; 
}

.numberbox{
	vertical-align: center;
	width: 200px;
	height:75px;
	margin-top:-225px;
	text-align:center;
	font-size:25px;
	position:relative;
	z-index:999;

}



.roomNum{
	color: #47496C;
	text-align: center;
	font-weight:normal;
	position: relative;
	top: 122px;
	z-index: 10;
}


.back{
	background: url(img/app/grey.gif);
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: 100% 100%;
	
}


.topbox{
	position:inherit;
	margin-top:50px;
	margin-left:20px;
	margin-right: 20px;
	z-index:8;
}

img.bottombox{
	width:338px;
	margin-top:-90px;
	margin-bottom:-109.5px;
	margin-right:7px;

}

.next{
	margin-top:-50px;
	
}
